// Toggles

@mixin border-radius($radius: $border-radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}

// Utilities
@import "mixins/text-truncate";
@import "mixins/opacity";

// // Components

// // Layout
@import "mixins/clearfix";
@import "mixins/center-block";
@import "mixins/pulls";


